<div class="page-header"><h1>Log in</h1></div>
<%= form_tag sessions_path do %>
<div class="control-group">
    <%= label_tag :email %>
<div class="controls">
    <%= text_field_tag :email, params[:email] %></div>
</div>
<div class="control-group">
    <%= label_tag :password %>
<div class="controls">
    <%= password_field_tag :password %></div>
</div>
  <%= submit_tag "Log in", :class => 'btn btn-primary' %>
<% end %>
