<% title "Forums" %>

<% content_for :breadcrumb do %>
<ul class="breadcrumb span12">
	<li><%= link_to "Home", root_path%><span class="divider">/</span></li>
	<li class="active">Forums</li>
</ul>
<% end %>

<div class="page-header">
	<h1>
		Forums
	</h1>
</div>

<%= link_to "All my comments", comments_path %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% Forum.where(group_id: nil).order("name ASC").each do | forum | %>
		<tr>
			<td><%= link_to forum.name, forum_path(forum) %></td>
			<td><%= forum.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% Group.order("name ASC").each do | group | %>
<% if group.forums.count > 0 && (current_user.groups.include?(group) || current_user.admin) %>
<h1><%= group.name %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% group.forums.order("name ASC").each do | forum | %>
		<tr>
			<td><%= link_to forum.name, forum_path(forum) %></td>
			<td><%= forum.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<% end %>

<%= link_to t('.new', default: t("helpers.links.new")),
new_forum_path,
class: 'btn btn-primary' if can? :create, Forum %>
<br />
