<%- model_class = Forum -%>
<% content_for :breadcrumb do %>
	<ul class="breadcrumb span12">
		<li><%= link_to "Home", root_path%><span class="divider">/</span></li>
		<li><%= link_to "Forums", forums_path%><span class="divider">/</span></li>
		<li class="active"><%= @forum.name %></li>
	</ul>
<% end %>
<% title "Forums | " + @forum.name %>
<div class="page-header">
	<h1><%= @forum.name %></h1>
</div>

<p>
	<%= @forum.description %>
</p>

<% if @forum.comments.where(:parent_id => nil).count < 1 %>
	<p>No threads yet.</p>
<% else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Thread</th>
				<th>User</th>
			</tr>
		</thead>
		<tbody>
			<% @forum.comments.where(:parent_id => nil, :sticky => true).each do |comment| %>
				<tr>
					<td>
						<% if comment.important %>
							<i class="icon-exclamation-sign icon-white"></i>
						<% end %>

						<% if comment.sticky %>
							<i class="icon-star icon-white"></i>
						<% end %>

						<%= link_to comment.title, comment %>
					</td>
					<td><%= comment.user.name %></td>
				</tr>
			<% end %>
			<% @forum.comments.where(:parent_id => nil, :sticky => false).order("created_at DESC").each do |comment| %>
				<tr>
					<td>
						<% if comment.important %>
							<i class="icon-exclamation-sign icon-white"></i>
						<% end %>

						<% if comment.sticky %>
							<i class="icon-star icon-white"></i>
						<% end %>

						<%= link_to comment.title, comment %>
					</td>
					
					<td><%= comment.user.name %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="form-actions">
	<%= link_to "Back", forums_path, :class => 'btn'  %>
	<%= link_to "New Thread", new_comment_path(:forum_id => @forum.id), :class => 'btn' if can? :create, Comment%>
	<%= link_to "Edit", edit_forum_path(@forum), :class => 'btn' if can? :update, @forum %>
	<%= link_to "Deletify", forum_path(@forum), :method => 'delete',
        :data => { :confirm => 'Are you sure?' },
        :class => 'btn btn-danger' if can? :destroy, @forum %>
</div>
