<div class="page-header">
	<h1>
		Comments
	</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<% if current_user.admin? %><th>User</th><% end %>
			<th>Content</th>
			<th>Thread</th>
			<th>Forum</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @comments.each do |comment| %>
			<tr>
				<% if current_user.admin? %><td><%= comment.user.name %></td><% end %>
				<td><%= comment.content %></td>
				<td><%=
					   if comment.parent
					   link_to comment.parent.title, comment.parent
						   else
						   link_to comment.title, comment
					   end
						   %></td>
				<td><%= link_to (comment.forum || comment.parent.forum).name, (comment.forum || comment.parent.forum) %>
				<td>
					<%= link_to "Edit",
						edit_comment_path(comment), :class => 'btn btn-mini' %>
					<%= link_to "Destroy",
						comment_path(comment),
						:method => :delete,
						:data => { :confirm => "Are you sure?" },
						:class => 'btn btn-mini btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New",
	new_comment_path,
	:class => 'btn btn-primary' %>
