<%- model_class = Comment -%>
<% content_for :title do
     "Forums | " + @comment.title 
   end %>

<div class="page-header">
  <h1>
    <%= @comment.title %>
  </h1>
</div>

<div class="border">
  <table class="comment"> 
    <tr>
      <td class="username">
        <%= @comment.user.name %>
        <% if @comment.important %><br /><strong>Important!</strong><% end %>
        <% if @comment.sticky %><br /><strong>Sticky!</strong><% end %>
        <br /><%= @comment.created_at.strftime("%d %b %Y") %>
      </td>
      <td class="content">
        <%= @comment.content.split("\r\n").join("<br />").html_safe %>
      </td>
    </tr>
  </table>
</div>
<br />

<% Comment.where(:parent_id => @comment.id).each do |comment| %>

<div class="border">
  <table class="comment"> 
    <tr>
      <td class="username">
        <%= comment.user.name %>
        <br /><%= @comment.created_at.strftime("%d %b %Y") %>
      </td>
      <td class="content">
        <%= comment.content.split("\r\n").join("<br />").html_safe %>
      </td>
    </tr>
  </table>
</div>
<br />
<% end %>

<%= form_for Comment.new, :html => {:class => 'form-horizontal' } do |f| %>
<div class="border">
  <table class="comment">
    <tr>
      <td class="username">
        <%= current_user.name %>
      </td>
      <td class="content">
        <%= f.text_area :content, :class => 'text_area' %>
      </td>
    </tr>
  </table>
</div>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :parent_id, :value => @comment.id %>
<%= f.hidden_field :sticky, :value => false %>
<%= f.hidden_field :important, :value => false %>
<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
</div>
<% end %>

<div class="form-actions">
  <%= link_to "Back", @comment.forum, :class => 'btn'  %>
  <%= link_to "Edit", edit_comment_path(@comment), :class => 'btn' %>
  <%= link_to "Deletify!", comment_path(@comment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
