<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Parent:</b>
  <%= @comment.parent_id %>
</p>

<p>
  <b>Sticky:</b>
  <%= @comment.sticky %>
</p>

<p>
  <b>Important:</b>
  <%= @comment.important %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
