<% begin %>
  <% tweets = Twitter.user_timeline("team461wbi", options = { :count => 4 } ) %>
  <% tweets.each do |tweet| %>
    <p class="tweet">
      <hr />
      <%= sanitize format_tweet(tweet) %>
      <div style="text-align: right;" class="tweet-info">
        <a href="https://twitter.com/<%= tweet.from_user() %>">@<%= tweet.from_user() %></a>, 
        <a href="https://twitter.com/<%= tweet.from_user() %>/status/<%= tweet.id() %>"><%= time_ago_in_words(tweet.created_at()) %> ago </a>
      </div>
    </p>
  <% end %>
<% rescue %>
  <p>Error: No internet connection</p>
<% end %>
