<!-- BEGIN TWITTER FEED -->
 
<hr>
<% begin %>
  <h2>Tweets by <a href="https://www.twitter.com/team461wbi">@Team461WBI</a></h2>
  <div class="well">
    <% tweets = Twitter.user_timeline("team461wbi", options = { :count => 10 } )%>
    <% tweets.each do |tweet| %>
      <p class="tweet">
        <%= sanitize tweet.text %>
        <div style="text-align: right;" class="tweet-info">
          <a href="https://twitter.com/<%= tweet.from_user() %>">@<%= tweet.from_user() %></a>,
          <a href="https://twitter.com/<%= tweet.from_user() %>/statuses/<%= tweet.id() %>"><%= time_ago_in_words(tweet.created_at()) %>     ago </a>
        </div>
      </p>
      <% if tweet != tweets.last%>
      <hr />
      <% end %>
    <% end %>
  </div>
<% rescue %>
<p> No internet connection </p>
</div>
<% end %>


<!-- END TWITTER FEED -->
