<% begin %>
<% tweets = $twitterClient.user_timeline("team461wbi", options = { :count => 4 } ) %>
<% tweets.each do |tweet| %>
<hr />

<div id="tweet">
    <%= sanitize format_tweet(tweet) %>
    <div class="pull-right tweet-info">
        <a href="https://twitter.com/<%= tweet.user.screen_name %>">@<%= tweet.user.screen_name %></a>,
         <a href="https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id() %>"><%= time_ago_in_words(tweet.created_at()) %> ago </a>
    </div>

</div>

<% end %>
<% rescue Exception => e %>
<% if current_user && current_user.admin %>
	<p><%= e.message %><p>
	<ul><% e.backtrace.each do |b| %>
		<li><%= b.to_s %></li>
<% end %>
	</ul>
<% else %>
	<p>Something has gone wrong with our connection to Twitter!</p>
	<p><a href="https://www.twitter.com/team461wbi">See our tweets here</a></p>
<% end %>
<% end %>
