<footer>
    <center>
        <a href="https://www.facebook.com/WBI461">
            <%= image_tag 'icon/facebook-icon.png', class: "social-icon", alt: "Facebook" %>
        </a>
        <a href="https://twitter.com/team461WBI">
            <%= image_tag 'icon/twitter-icon.png', class: "social-icon", alt: "Twitter" %>
        </a>
        <a href="https://www.youtube.com/user/team461">
            <%= image_tag 'icon/youtube-icon.png', class: "social-icon", alt: "Youtube" %>
        </a>
        <table id="logo-table" class="hidden-phone">
            <tr>
                <td class="setwidth">
                    <a href="http://www.cat.com/">
						<%= image_tag 'caterpillar-logo.png', id: "MoveL", class: "side-logo", alt: "Caterpillar" %>
                    </a>
                </td>
                <td>
                    <a href="http://hs.wl.k12.in.us/">
						<%= image_tag 'wl-logo.png ', id: "NotMove", alt: "West Lafayette Junior/Senior High School" %>
                    </a>
                </td>
                <td class="setwidth">
                    <a href="http://www.purduefirst.org/">
						<%= image_tag 'pfp-logo.png', id: "MoveR", class: "side-logo", alt: "Purdue First Programs" %>
                    </a>
                </td>
            </tr>
        </table>
        <div class="visible-phone">
            
            <a href="http://www.cat.com/">
                <%= image_tag 'caterpillar-logo.png', class: "alt-logos", alt: "Caterpillar" %>
            </a>
            <a href="http://hs.wl.k12.in.us/">
                <%= image_tag 'wl-logo.png ', class: "alt-logos", alt: "West Lafayette Junior/Senior High School" %>
            </a>
            <a href="http://www.purduefirst.org/">
                <%= image_tag 'pfp-logo.png', class: "alt-logos", alt: "Purdue First Programs" %>
            </a>
        </div>
        <p>
            &copy; Copyright Westside Boiler Invasion Team 461 2013-2014<br />
            <% if !current_user %>
            <%= link_to "Log in", log_in_path, id: "login" %>
            <% else %>
            <%= link_to "Log out", log_out_path %>
            <% end %>
            <% if @print_debug == true %>
            <br />
            <code style="background: #101010;
                         border: transparent;
                         color: #404040;
                         font-size: 8px;">
                <%= @debug_string %>
            </code>
            <% end %>
        </p>
    </center>
</footer>
