<div class="navbar navbar-fluid-top navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><%= image_tag 'logo.png', :alt => "Westside Boiler Invasion" %></a>
            <!-- <br /> -->
            <div class="container-fluid nav-collapse">
				<div class="pull-left" style="vertical-align: bottom;">
					<ul class="nav">
						<li><%= link_to "Home", "/", :class => "dropdown-toggle js-activated" %></li>
						<% Page.where(:navigable => true, :parent_id => nil).order("sort_index, title").each do |page_to_draw| %>
							<% if page_to_draw.pages.first %>
								<li class="dropdown">
									<%= link_to_page page_to_draw,
										page_to_draw.title + " <i class=\"icon-chevron-down\"></i>",
										'class="dropdown-toggle js-activated"' %>
									<ul class="dropdown-menu">
										<% page_to_draw.pages.where(:navigable => true).order("sort_index, title").each do |child_to_draw| %>
											<% if child_to_draw.pages.first %>
												<li class="dropdown-submenu"><%= link_to_page child_to_draw %>
													<ul class="dropdown-menu">
														<% child_to_draw.pages.where(:navigable => true).order("sort_index, title").each do |grandchild_to_draw| %>
															<li><%= link_to_page grandchild_to_draw %></li>
														<% end %>
													</ul>
												</li>
											<% else %>
												<li><%= link_to_page child_to_draw %></li>
											<% end %>
										<% end %>
									</ul>
								</li>
							<% else %>
								<li><%= link_to_page page_to_draw, page_to_draw.title, 'class="dropdown-toggle js-activated"' %></li>
							<% end %>
						<% end %>
						<li><%= link_to "Blog", posts_path, :class => "dropdown-toggle js-activated" %></li>
						<li><%= link_to "Photos", albums_path, :class => "dropdown-toggle js-activated" %></li>
						<% if can? :read, Event %>
							<li><%= link_to "Calendar", events_path, :class => "dropdown-toggle js-activated" %></li>
						<% end %>
						<% if can? :read, Todo %>
							<li><%= link_to "To Do", todos_path, :class => "dropdown-toggle js-activated" %></li>
						<% end %>
						<% if can? :read, Forum %>
							<li><%= link_to "Forums", forums_path, :class => "dropdown-toggle js-activated" %></li>
						<% end %>
					</ul>
				</div>
            </div>
        </div>
    </div>
</div>
