<%= form_for @permission, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @permission.errors.any? %>
  <div class="well text-error">
    <h2><%= pluralize(@permission.errors.count, "error") %> prevented this user from being saved:</h2>

    <ul>
      <% @permission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <dt><strong>Permissions:</strong></dt>
  <dd><table style="width: 40px">
    <tr>
      <td>R</td>
      <td>W</td>
      <td>D</td>
      <td>X</td>
    </tr>
    <tr>
      <td><%= f.check_box :read, :class => 'check_box' %></td>
      <td><%= f.check_box :write, :class => 'check_box' %></td>
      <td><%= f.check_box :remove, :class => 'check_box' %></td>
      <td><%= f.check_box :execute, :class => 'check_box' %></td>
    </tr>
  </table></dd>
  <%= f.hidden_field :principal_id, :value => principal %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", permissions_path, :class => 'btn' %>
  </div>
<% end %>
