<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
	<% if @user.errors.any? %>
		<div class="well text-error">
			<h2><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</h2>

			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li> <%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="control-group">
		<%= f.label :name, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :name, :class => 'text_field' %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :email, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :email, :class => 'text_field' %>
		</div>
	</div>
	
	<% if current_user && current_user.admin %>
		<div class="control-group">
			<%= f.label :admin, :class => 'control-label' %>
			<div class="controls">
				<%= f.check_box :admin, :class => 'check_box' %>
			</div>
		</div>
	<% end %>
	
	<div class="control-group">
		<%= f.label :password, :class => 'control-label' %>
		<div class="controls">
			<%= f.password_field :password, :class => 'text_field' %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :password_confirmation, :class => 'control-label' %>
		<div class="controls">
			<%= f.password_field :password_confirmation, :class => 'text_field' %>
		</div>
	</div>
	
	<% if !current_user %>
		<div class="control-group">
			<%= f.label :secret_code, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :secret_code, :class => 'text_field' %>
			</div>
		</div>
	<% else %>
		<%= f.hidden_field :secret_code, :value => SECRET_CODE %>
	<% end %>

	<% if @groups.count > 0 && !(@groups.count == 1 && @groups.first.name == "Everybody") %>
		<h4>Groups</h4>
		<% @groups.each do |grp| %>
			<% if grp.name != "Everybody" %>
				<div class="control-group">
					<%= f.label grp.name, :class => 'control-label' %>
					<div class="controls">
						<%= check_box_tag "user[group_ids][]", grp.id, grp.users.include?(@user) %>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>

	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to "Cancel", (current_user && current_user.admin) ? users_path : root_path, :class => 'btn' %>
	</div>
<% end %>
