<div class="page-header"><h1>Welcome!</h1></div>
<p>Find me in app/views/welcome/index.html.erb</p>
<p><a href="#">Sample Link</a>.</p>
<h2>Tweets by <a href="https://www.twitter.com/team461wbi">@Team461WBI</a></h2>
<div class="well">
<% Twitter.user_timeline("team461wbi", options = { :count => 10 } ).each do |tweet| %>
<p class="tweet">
<%= sanitize tweet.text %>
<span class="tweet-info">
@<%= tweet.from_user() %>
<a href="https://twitter.com/<%= tweet.from_user() %>/statuses/<%= tweet.id() %>">
<%= time_ago_in_words(tweet.created_at()) %> ago </a>
</span>
</p>
<% end %>
</div>
