<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
		<%= f.text_field :title, :class => 'text_field' %>
    </div>
</div>
<div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
		<%= f.text_area :content, :class => 'text_area' %>
    </div>
</div>
<div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
		<div class="datetimepicker input-append">
			<%= f.text_field :start_date, :value => @event.start_date.in_time_zone.strftime("%d/%m/%Y %R:%S"), :"data-format" => "dd/MM/yyyy hh:mm:ss" %>
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		</div>
		<br />(If repeating event, this is the first occurance.)
    </div>
</div>
<div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
		<div class="datetimepicker input-append">
			<%= f.text_field :end_date, :value => @event.end_date.in_time_zone.strftime("%d/%m/%Y %R:%S"), :"data-format" => "dd/MM/yyyy hh:mm:ss" %>
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		</div>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="event_weeks_repeat">Repeat every # weeks</label>
    <div class="controls">
		<%= f.number_field :weeks_repeat, :in => 0...8 %>
    </div>
</div>
<div class="control-group">
    <%= f.label :end_repeat, :class => 'control-label' %>
    <div class="controls">
		<div class="datetimepicker input-append">
			<%= f.text_field :end_repeat, :value => @event.end_repeat ? @event.end_repeat.in_time_zone.strftime("%d/%m/%Y %R:%S") : nil, :"data-format" => "dd/MM/yyyy hh:mm:ss" %>
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		</div>
    </div>
</div>
<div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
		<%= f.text_field :location, :class => 'text_field' %>
    </div>
</div>
<div class="control-group">
    <%= f.label :public, :class => 'control-label' %>
    <div class="controls">
		<%= f.check_box :public, :class => 'check_box' %>
    </div>
</div>

<div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    events_path, :class => 'btn' %>
</div>
<% end %>
