<%= form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:parent_id, [["None", nil]] + Page.all.map { |page| [page.title, page.id] }, {}, {:class => "selectpicker"} ) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :navigable, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :navigable, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", pages_path, :class => 'btn' %>
  </div>
<% end %>
