<% content_for :title do
     "Listing Pages"
   end %>

<br class="hidden-phone" />
<% if can? :update, Page %>
<% @pages.in_groups_of(3) { | groupofpage |%>
  <div class="row-fluid hidden-phone">
    <% groupofpage.each { | page | %>
      <% if (page != nil)  %>
        <div class="span4 postWithBorder">
        <h2>
          <%= link_to_page page %>
        </h2>
        <%= page.content[0..300] %>
        </div>
      <% end %>
    <% } %>
  </div>
  <br />
<% } %>
<% else %>
<% @pages.where("not(title LIKE ?)", "frontpage").in_groups_of(3) { | groupofpage |%>
  <div class="row-fluid hidden-phone">
    <% groupofpage.each { | page | %>
      <% if (page != nil)  %>
        <div class="span4 postWithBorder">
        <h2>
          <%= link_to_page page %>
        </h2>
        <%= page.content[0..300] %>
        </div>
      <% end %>
    <% } %>
  </div>
  <br />
<% } %>
<% end %>
<div class="visible-phone">
  <% @pages.each { | page | %>
    <% if (page != nil)  %>
      <div class="postWithBorder">
        <h2>
          <%= link_to_page page %>
        </h2>
        <%= page.content[0..300] %>
      </div>
        <br class="visible-phone" />
    <% end %>
  <% } %>
</div>
<br class="visible-phone" />
<br class="visible-phone" />
<% if can? :write, Page %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_page_path,
            :class => 'btn btn-primary' %>
<% end %>
