<%- model_class = Page -%>
<div class="page-header">
  <h1><%= @page.title %></h1>
</div>

<div class="page_body">
  <%= format @page.content %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:parent_id) %>:</strong></dt>
  <dd><%= @page.parent_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:navigable) %>:</strong></dt>
  <dd><%= @page.navigable %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Back", pages_path, :class => 'btn'  %>
  <%= link_to "Edit", edit_page_path(@page), :class => 'btn' %>
  <%= link_to "Deletify", page_path(@page), :method => 'delete',
              :data => { :confirm => "Are you sure?" }, :class => 'btn btn-danger' %>
</div>
