<%- model_class = Page -%>
<% if @page.pages.count > 0 || @page.parent_id %>
<% content_for :ChildrenPages do %>
<% if @page.pages.count > 0 %>
<div class="well">
    <h4 style="margin-top: -2px; margin-bottom: 2px;"><strong>
			Subpages:
    </strong></h4>
    <ul class="nav nav-list">
		<% @page.pages.where(:navigable => true).sort_by(&:sort_index).each do |child| %>
        <li><%= link_to_page child %> </li>
		<% end %>
    </ul>
</div>
<% end %>
<% if @page.parent_id %>
<% parent = Page.find(@page.parent_id) %>
<div class="well">
    <h4 style="margin-top: -2px; margin-bottom: 2px;"><strong>
			<%= link_to_page parent %>
    </strong></h4>
    <ul class="nav nav-list">
		<% parent.pages.where(:navigable => true).sort_by(&:sort_index).each do |child| %>
        <% if child.id == @page.id%>
        <li class="active"><%= child.title %></li>
        <% else %>
        <li><%= link_to_page child %> </li>
        <% end %>
		<% end %>
    </ul>
</div>
<% end %>
<% end %>
<% end %>
<% content_for :breadcrumb do %>
<ul class="breadcrumb span12">
	<li><%= link_to "Home", root_path%><span class="divider">/</span></li>
	<% parent_array(@page).each do |parent| %>
    <li><%= link_to_page parent %><span class="divider">/</span></li>
	<% end %>
	<li class="active">
		<%= @page.title %>
	</li>
</ul>
<% end %>
<% title @page.title %>

<div class="page-header">
	<h1><%= @page.title %></h1>
</div>

<div class="page_body">
	<%= format @page.content %>
</div>

<!--<dl class="dl-horizontal">
	<dt><strong>Children:</strong></dt>
	<dd><%# sanitize(@page.pages.map do |pg| link_to(pg.title, pg) end.join(", ".html_safe)) %></dd>
</dl>-->

<% if(can? :update, Page) || (can? :destroy, @page) %>
<div class="form-actions">
	<p>
		<%= link_to "Back", "/", :class => "btn"  %>
		<%= link_to "Edit", edit_page_path(@page), :class => "btn" if can? :update, @page %>
		<%= link_to "Deletify", "/pages/" + @page.id.to_s, :method => "delete",
			:data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" if can? :destroy, @page %>
	</p>

	<p>
		This page is "<%= @page.title %>," sort index <%= @page.sort_index %>, id <%= @page.id %>, and was last updated on <%= @page.updated_at.strftime("%Y-%m-%d %H:%M %Ss (%Z)") %>
	</p>
</div>
<% end %>
