<div class="page-header">
	<h1>
		Documents
	</h1>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th><%= "ID" %></th>
			<th><%= "Document" %></th>
			<th><%= "Updated" %></th>
			<th><%= "[ Actions ]" %></th>
		</tr>
	</thead>
	<tbody>
		<% @documents.all.sort_by(&:updated_at).reverse.each do |document| %>
		<tr>
			<td><%= link_to document.id, document_path(document) %></td>
			<td><%= link_to document.name, document.filename %></td>
			<td><%= time_ago_in_words(document.updated_at) + " ago" %></td>
			<td>
				<%= link_to "Edit",
					edit_document_path(document),
					:class => "btn btn-mini" %>
				<%= link_to "Delete",
					document_path(document),
					:method => :delete,
					:data => { :confirm => "Are you sure?" },
					:class => "btn btn-mini btn-danger" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New",
	new_document_path,
	:class => "btn btn-primary" %>
