<%- model_class = Document -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "ID" %></th>
      <th><%= "Document name" %></th>
      <th><%= "Filename" %></th>
      <th><%= "Updated" %></th>
      <th><%= "[ Actions ]" %></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.all.sort_by(&:updated_at).reverse.each do |document| %>
      <tr>
        <td><%= link_to document.id, document_path(document) %></td>
        <td><%= document.name %></td>
        <td><%= document.filename %></td>
        <td><%= time_ago_in_words(document.updated_at) + " ago" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_document_path(document), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      document_path(document),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_document_path,
            :class => 'btn btn-primary' %>
