<div class="page-header">
	<h1>
		<%= @document.name %>
	</h1>
</div>

<dl class="dl-horizontal">
	<dt><strong>Name:</strong></dt>
	<dd><%= @document.name %></dd>
	<dt><strong>File Location:</strong></dt>
	<dd><%= @document.filename %></dd>
</dl>

<div class="form-actions">
	<%= link_to "Back",
		documents_path,
		:class => "btn" %>
	<%= link_to "Edit",
		edit_document_path(@document),
		:class => "btn" %>
	<%= link_to "Delete",
		document_path(@document),
		:method => "delete",
		:data => { :confirm => "Are you sure?" },
		:class => "btn btn-danger" %>
</div>
