<%- model_class = Album -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @album.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @album.description %></dd>
</dl>

<div id="tehCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% first=true %>
    <% @album.photos.each do |photo| %>
    <% if first %>
    <div class="item active">
    <% first=false %>
    <% else %>
    <div class="item">
    <% end %>
    <%= image_tag photo.image.url %>
    </div>
    <% end %>
  </div>
</div>
<div id="carouselnav">
  <a class="btn" href="#tehCarousel" data-slide="prev">&lsaquo;</a>
  <a class="btn pull-right" href="#tehCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              albums_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_album_path(@album), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              album_path(@album),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
