<% title "Photos | " + @album.name %>

<% content_for :breadcrumb do %>
	<ul class="breadcrumb span12">
		<li><%= link_to "Home", root_path%><span class="divider">/</span></li>
		<li><%= link_to "Albums", albums_path%><span class="divider">/</span></li>
		<li class="active">
			<%= @album.name %>
		</li>
	</ul>
<% end %>

<div class="twitter-border">
	<div class="page-header">
		<h1>
			<%= @album.name %>
		</h1>
	</div>

	<div style="padding-left: 32px;">
		<strong>Description:</strong>
		
		<div style="padding-left: 4px;">
			<%= @album.description %>
		</div>
	</div>

	<hr />

	<div id="theCarousel" class="carousel slide">
		<div class="carousel-inner">
			<% first = true %>
			
			<% @album.photos.each do |photo| %>
				<% if first %>
					<div class="item active">
						<% first = false %>
					<% else %>
						<div class="item">
				<% end %>
				
				<%= image_tag photo.image.url(:medium) %>
				
				<% if can? :update, Photo %>
					<div class="carousel-caption">
						<%= link_to "Delete", photo, :method => "delete", :class => "btn btn-danger btn-mini" %>
						<br />
						
						<strong>ID</strong>: <%= photo.id %>
					</div>
				<% end %>
				
				</div>
			<% end %>
			
			</div>
		</div>
		
		<div id="carouselnav">
			<a class="btn" href="#theCarousel" data-slide="prev">&lsaquo;</a>
			<a class="btn pull-right" href="#theCarousel" data-slide="next">&rsaquo;</a>
		</div>
		
		<div id="photogrid">
			<% count = 0 %>
			
			<% @album.photos.in_groups_of(4).each do |photogroup| %>
				<br />
				
				<div class="row-fluid">
					<% photogroup.each do |photo| %>
						<% if photo %>
							<%= image_tag photo.image.url(:thumb), class: "span3", onclick: "$('.carousel').carousel(" + count.to_s + ");$('html, body').animate({ scrollTop: 0 }, 'fast');" %>
							<% count += 1 %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>


		<div class="form-actions">
			<%= link_to "Back", albums_path, :class => "btn" %>
			<%= link_to "Edit", edit_album_path(@album), :class => "btn" if can? :update, @album %>
			<%= link_to "Delete Album", album_path(@album),
				:method => "delete",
				:data => { :confirm => "Are you sure you want to delete #{@album.name}?" },
				:class => "btn btn-danger" if can? :destroy, @album %>
			<%= link_to "Add Photos", mass_photos_path(album_id: @album.id), :class => "btn btn-success" if can? :create, Photo %>
		</div>
	</div>
	
	<script type="text/javascript">
		$('.carousel').carousel({
			interval: 5000
			pause: "hover"
		})

		/*  $('.item img').onmouseover = function(){
			$('.carousel').carousel('pause')
		} */
	</script>
