<br />
<%- model_class = Album -%>
<% content_for :title do
     "Photos | " + @album.name
   end %>

<div class="twitter-border">
  <div class="page-header">
    <h1><%= @album.name %></h1>
  </div>

  <div style="padding-left: 32px;">
    <% if can? :create, Photo %>
      <a href="/photos/mass?album_id=<%= @album.id %>">Add Photos</a><br />
    <% end %>
    <strong><%= model_class.human_attribute_name(:description) %>:</strong>
    <div style="padding-left: 4px;">
      <%= @album.description %>
    </div>
  </div>

  <hr />

  <div id="theCarousel" class="carousel slide">
    <div class="carousel-inner">
    <% first = true %>
    <% @album.photos.each do |photo| %>
      <% if first %>
      <div class="item active">
        <% first = false %>
      <% else %>
      <div class="item">
      <% end %>
        <%= image_tag photo.image.url %>
        <% if can?(:write, Post) %>
        <div class="carousel-caption">
          <p>
            ID: <%= photo.id %>
          </p>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

  <div id="carouselnav">
    <a class="btn" href="#theCarousel" data-slide="prev">&lsaquo;</a>
    <a class="btn pull-right" href="#theCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <% if can? :remove, current_user %>
  <div class="form-actions">
    <%= link_to "Back", albums_path, :class => 'btn'  %>
    <%= link_to "Edit", edit_album_path(@album), :class => 'btn' %>
    <%= link_to "Deletify", album_path(@album), :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
  <% end %>
</div>
