<% content_for :title do
     "To Do"
   end %>
<div class="page-header">
  <h1>To Do</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th class="hidden-phone">Content</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
  <% Todo.where(:group_id => nil).order("done ASC, created_at DESC").each do | todo |%>
    <tr>
      <td><%= link_to todo.name, todo %></td>
      <td class="hidden-phone"><%= todo.content %></td>
      <td>
      <%= form_for(todo, :remote => true) do |f|%>
        <%= f.check_box :done, :class => "checkthing" %>
      <%end%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% Group.all.each do | group |%>
<% if group.forums.count > 0 && (current_user.groups.include?(group) || current_user.admin) %>
<h1><%= group.name %></h1>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th class="hidden-phone">Content</th>
    <th>Done</th>
  </tr>

  <% group.todos.order("done ASC, created_at DESC").each do |todo| %>
  <tr>
    <td><%= link_to todo.name, todo %></td>
    <td class="hidden-phone"><%= todo.content %></td>
    <td>
    <%= form_for(todo, :remote => true) do |f|%>
      <%= f.check_box :done, :class => "checkthing" %>
    <%end%>
    </td>
  </tr>
<% end %>
</table>
<%end%>
<br />
<%end%>

<br />

<% if can?(:write, Todo) || can?(:remove, Todo) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_todo_path,
              :class => 'btn btn-primary' %>
<% end %>
<script>
  $('.checkthing').live("click", function() {
    $('.checkthing').parent('form').submit();
  });
</script>
