<div class="page-header">
	<h1><%= @todo.name %></h1>
</div>

<div class="page_body">
	<%= format @todo.content %>
</div>

<div class="form-actions">
	<%= link_to "Back", todos_path, :class => "btn" %>
	<% if can? :update, Todo %>
		<%= link_to "Edit", edit_todo_path, :class => "btn" %>
		<% if @todo.done %>
			<%= link_to "Un-complete", uncomplete_todo_path(@todo), :class => "btn btn-danger" %>
		<% else %>
			<%= link_to "Complete", complete_todo_path(@todo), :class => "btn btn-success" %>
		<% end %>
	<% end %>
	<%= link_to "Deletify", todo_path, :method => 'delete', :data => { :confirm => "Are ye sure?"}, :class => 'btn btn-danger' if(can? :destroy, @todo) %>
</div>
