<div class="page-header">
	<h1><%= @todo.name %></h1>
</div>

<% if @todo.users.count > 0 %>
	<h4>
		<%= @todo.done ? "Was assigned" : "Assigned" %> to
	
		<% if current_user.admin %>
			<% @todo.users.each do |user| %>
				<%= form_tag unassign_todo_path(@todo), style: "display: inline" do %>
					<%= submit_tag user.name.to_s, class: "btn btn-danger btn-mini" %>
				<% end %>
			<% end %>.
		<% else %>
			<%= User.all.map { |u| u.name }.join(", ").html_safe %>.
		<% end %>
	</h4>
<% else %>
	<h4>
		<%= @todo.done ? "Was not" : "Not" %> assigned to anybody.
	</h4>
<% end %>
	
<% if can?(:update, @todo) && !@todo.done %>
	<p>
		<%= form_tag assign_todo_path(@todo) do %>
			Assign
			
			<%= text_field_tag :name, current_user.name.to_s, placeholder: "Name", "data-provide": "typeahead", "data-items": User.all.count, "data-source": User.all.map{|u| u.name}.to_s, autocomplete: "off" %>
				
			<br />
			<%= submit_tag "Go", class: "btn btn-success" %>
		<% end %>
	</p>
<% end %>

<hr />

<div class="page_body">
	<%= format @todo.content %>
</div>

<div class="form-actions">
	<%= link_to "Back", todos_path, class: "btn" %>
	
	<% if can? :update, Todo %>
		<%= link_to "Edit", edit_todo_path, class: "btn" %>
		
		<% if @todo.done %>
			<%= link_to "Un-complete", uncomplete_todo_path(@todo), class: "btn btn-danger" %>
		<% else %>
			<%= link_to "Complete", complete_todo_path(@todo), class: "btn btn-success" %>
		<% end %>
	<% end %>
	
	<%= link_to "Deletify", todo_path, method: 'delete', data: { confirm: "Are you sure?"}, class: 'btn btn-danger' if(can? :destroy, @todo) %>
</div>
