<div class="page-header">
  <h1><%= @todo.name %></h1>
</div>

<div class="page_body">
  <%= format @todo.content %>
</div>

<p>
  <b>Done:</b>
  <%= @todo.done %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
