<div class="page-header">
	<h1>
		Photo
	</h1>
</div>

<dl class="dl-horizontal">
	<% if @photo.album_id != nil %>
		<dt><strong>Album Name:</strong></dt>
		<dd><%= @photo.album.name %></dd>
		<dt><strong>Album ID:</strong></dt>
		<dd><%= @photo.album_id %></dd>
	<% end %>
</dl>

<%= image_tag @photo.image.url %>

<div class="form-actions">
	<%= link_to "Back", photos_path, :class => 'btn' %>
	<%= link_to "Edit", edit_photo_path(@photo), :class => 'btn' %>
	<%= link_to "Delete", photo_path(@photo), :method => 'delete',
    :data => { :confirm => "Are you sure?" },
    :class => 'btn btn-danger' %>
</div>
