<%- model_class = Post -%>
<% content_for :title do
     "Blog | " + @post.title
   end %>

<div class="pull-right post-info">
  <%= User.find(@post.user_id).name %> <br />
  <%=l @post.created_at, :format => :long %>
</div>
<div class="page-header">
  <h1><%= @post.title %></h1>
</div>

<div class="page_body">
  <%= format @post.content %>
</div>

<% if @post.tags && @post.tags.count > 0 %>
  <%# raise "there are tags" %>
  <h3>Tags</h3>
  <% tag_cloud(@post.tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :show, :tag => tag.name, :controller => :tags }, :class => css_class %>
  <% end %>
<% end %>

<div class="form-actions">
  <%= link_to "Back", posts_path, :class => 'btn' %>
  <% if can? :write, @post %>
    <%= link_to "Edit", edit_post_path, :class => 'btn' %>
  <% end %>
  <% if can? :remove, @post %>
  <%= link_to "Deletify", post_path, :method => 'delete',
              :data => { :confirm => "Are ye sure?"}, :class => 'btn btn-danger' %>
  <% end %>
</div>
