<%- model_class = Post -%>

<div class="page-header">
  <h1><%= @post.title %></h1>
</div>

<div class="page_body">
  <%= format @post.content %>
</div>

<% if can? :update, @post %>
<div class="form-actions">
  <%= link_to "Back", posts_path, :class => 'btn' %>
  <%= link_to "Edit", edit_post_path, :class => 'btn' %>
  <%= link_to "Deletify", post_path, :method => 'delete',
              :data => { :confirm => "Are ye sure?"}, :class => 'btn btn-danger' %>
</div>
<% end %>
