<!DOCTYPE html>
<% print_debug = true %>
<% if print_debug %>
  <% debug_string = Digest::MD5.hexdigest("{ \"" + (current_user ? current_user.name : "NO USER NAME" ) + "\", \"" + (print_debug ? "true" : "false") +"\" };") %>
<% else %>
<% end %>

<% _TEAM_NUMBER = "461" %>
<% teamnum = _TEAM_NUMBER %>

<html lang="en">
  <head>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery_ujs" %>
    <%= javascript_include_tag "fullcalendar" %>
    <%= javascript_include_tag "TypingText" %>
    <%= javascript_include_tag "jquery-fileupload" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) + " | Westside Boiler Invasion" : "Westside Boiler Invasion" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shit, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%# stylesheet_link_tag "bootstrap-responsive", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'icons/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <!-- <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %> This is the same as above -->

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'icons/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'icons/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <section id="page" data-type="background" data-speed="5">
      <div class="navbar navbar-fluid-top navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><%= image_tag 'logo.png', :alt => "Westside Boiler Invasion" %></a>
            <!-- <br /> -->
            <div class="container-fluid nav-collapse">
              <div class="pull-left" style="vertical-align: bottom;">
                <ul class="nav">
                  <li><%= link_to "Home", "/", :class => "dropdown-toggle js-activated" %></li>
                  <% Page.where(:navigable => true, :parent_id => nil).order("sort_index, title").each do |page_to_draw| %>
                  <% if page_to_draw.pages.first %>
                  <li class="dropdown"> 
                    <%= link_to_page page_to_draw,
                        page_to_draw.title + " <i class=\"icon-chevron-down\"></i>",
                        'class="dropdown-toggle js-activated"'%> 
                    <ul class="dropdown-menu">
                    <% page_to_draw.pages.where(:navigable => true).order("sort_index, title").each do |childs_to_draw| %>
                      <li><%= link_to_page childs_to_draw %></li>
                    <% end %> 
                    </ul>
                  </li>
                  <% else %>
                  <li><%= link_to_page page_to_draw, page_to_draw.title, 'class="dropdown-toggle js-activated"' %></li>
                  <% end %>
                  <% end %>
                  <li><%= link_to "Blog", posts_path, :class => "dropdown-toggle js-activated" %></li>
                  <li><%= link_to "Photos", albums_path, :class => "dropdown-toggle js-activated" %></li>
                  <% if can? :read, Event %>
                  <li><%= link_to "Calendar", events_path, :class => "dropdown-toggle js-activated" %></li>
                  <% end %>
                  <% if can? :read, Todo %>
                  <li><%= link_to "To Do", todos_path, :class => "dropdown-toggle js-activated" %></li>
                  <% end %>
                  <% if can? :read, Forum %>
                  <li><%= link_to "Forums", forums_path, :class => "dropdown-toggle js-activated" %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <article>
        <%= content_for :breadcrumb %>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span9 solidBackground pull-right" id="main-span">
              <%= yield %>
            </div>
            <!-- SIDEBAR -->
            <div class="span3 pull-left" id="sidebar-span">
              <br />
              <div class="well searchsidething">
              <form id="formfilters" class="form-search span12" action="/search">
                <fieldset>
                <div class="input-append">
                  <input type="text"
                         name="search"
                         class="search-query span9"
                         placeholder="Search"
                         <%= 'value=' + params[:search] if(params[:search]) %> />

                  <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
              </fieldset>
            </form>
          </div>
          <%= content_for :ChildrenPages %>
          <% if current_user %>
          <div class="well">
            <p>Logged in as <%= current_user.name %></p>
            <% if can? :update, current_user %>
            <table>
              <tr class="smallerPadding"><td rowspan="5"><div class="verticalTextUpLeft"><strong>Admin</strong></div></td></tr>
              <tr><td><%= link_to "Users", users_path %></td></tr>
              <tr><td><%= link_to "Groups", groups_path %></td></tr>
              <tr><td><%= link_to "Pages", pages_path %></td></tr>
            </table>
            <% end %>
          </div>
          <% end %>
          <div class="well">
            <div class="container row-fluid" style="margin-bottom: -5px;">
              <div class="span6" style="margin-top: 10px;">
                <table class="social-buttons">
                  <tr class="smallerPadding">
                    <td class="hidden-tablet" rowspan="5"><div class="verticalTextUpLeft"><strong>Social</strong></div></td>
                    <td>
                      <div class="fb-like"
                           data-layout="button_count"
                           data-colorscheme="light"
                           data-action="like"
                           data-href="http://www.facebook.com/WBI461">
                        Like us on Facebook
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="g-plusone"
                           data-size="medium"
                           data-href="http://boilerinvasion.org">
                        1+ on Google+
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>              
                      <a href="https://twitter.com/Team461WBI"
                         class="twitter-follow-button"
                         data-show-count="false"
                         data-dnt="true"
                         data-show-screen-name="false">Follow @Team461WBI</a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="well">
            <center>
              <p>
                <%= link_to(image_tag("firstlogovector.png", :style => "height: 48px; width: auto;", :alt => "FIRST"),
                    "http://www.usfirst.org/") %>
                <h3>FRC Team <%= teamnum %></h3>
              </p>
            </center>
          </div>
          <div id="tweetbox" class="visible-desktop">
            <div class="well">
              <center><h4>Latest tweets from <a href="https://www.twitter.com/team461wbi">@Team461WBI</a></h4></center>
              <%= render :partial => "twitter_feed/twitter_feed" %>
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <br class="visible-phone" />

      <footer>
        <center>
          <a href="https://www.facebook.com/WBI461">
            <%= image_tag 'icon/facebook-icon.png', :class => "social-icon", :alt => "Facebook" %>
          </a>
          <a href="https://twitter.com/team461WBI">
            <%= image_tag 'icon/twitter-icon.png', :class => "social-icon", :alt => "Twitter" %>
          </a>
          <a href="https://www.youtube.com/user/team461">
            <%= image_tag 'icon/youtube-icon.png', :class => "social-icon", :alt => "Youtube" %>
          </a>
          <p>
            &copy; Copyright Westside Boiler Invasion Team 461 2013<br />
            <% if !current_user %>
            <%= link_to "Log in", log_in_path, :id => "login" %>
            <% else %>
            <%= link_to "Log out", log_out_path %>
            <% end %>
            <% if print_debug %>
            <p class="grey-text">Debugging data: <%= debug_string %></p>
            <p class="visible-desktop grey-text">desktop</p>
            <p class="visible-tablet grey-text">tablet</p>
            <p class="visible-phone grey-text">phone</p> 
            <% end %>
          </p>
        </center>
      </footer>
      <div class="alerts-holder">
        <div id="konamicodething" class="alert fade in alert-success">
           <button class="close" data-dismiss="alert">&times;</button>
           Woah, you know the Konami code! Unfortunately, we can't give you any extra lives. Or anything else. Carry on.
        </div>
        <%= bootstrap_flash %>
      </div>
    </div> <!-- /container -->
  </article>
</section>
</div>
</body>

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>
<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  function sizing() {
    var formfilterswidth=$("#formfilters").width();
    $("#msisdn").width((formfilterswidth-46)+"px");
  }
  $(document).ready(sizing);
  $(window).resize(sizing);
</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>
  !function(d,s,id){
     var js,fjs=d.getElementsByTagName(s)[0];
     if(!d.getElementById(id)) {
       js=d.createElement(s);
       js.id=id;
       js.src="//platform.twitter.com/widgets.js";
       fjs.parentNode.insertBefore(js,fjs);
     }
   }(document,"script","twitter-wjs");
</script>
<script type="text/javascript">
  konami = new Konami()
  konami.code = function () {
    document.getElementById("konamicodething").style.display = "block";
  } 
  konami.load()
</script>
<script>
  // very simple to use!
  $(document).ready(function() {
    $('.js-activated').dropdownHover(true);
  });
</script>
<!-- GOOGLE ANALYTICS -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39061039-1']);
  _gaq.push(['_trackPageview']);
   (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script> 
</html>
