<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Website" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'icons/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <!-- <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %> This is the same as above -->

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'icons/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'icons/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
	    <%= image_tag 'logo.png' %>
	  </a>
	  <br />
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", "/"  %></li>
              <% Page.where(:navigable => true, :parent_id => nil).each do |page_to_draw| %>
                <li><%= link_to page_to_draw.title, page_to_draw %></li>
              <% end %>
              <li><%= link_to "Blog", posts_path %></li>
              <li><%= link_to "Photos", albums_path %></li>
              <% if can? :read, Forum %>
                <li><%= link_to "Forums", forums_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav" id="sidebar">
            <ul class="nav nav-list">
              <li><%= link_to "Home", "/"  %></li>
              <% Page.where(:navigable => true, :parent_id => nil).each do |page_to_draw| %>
                <li><%= link_to page_to_draw.title, page_to_draw %></li>
                <% if page_to_draw.pages.count > 0 %>
                  <ul>
                    <% page_to_draw.pages.each do |subpage| %>
                    <li><%= link_to subpage.title, subpage %></li>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>

              <li><%= link_to "Blog", posts_path %></li>
              <li><%= link_to "Photos", albums_path %></li>
              <% if can? :read, Forum %>
                <li><%= link_to "Forums", forums_path %></li>
                <ul id="forumLinks">
                  <% Forum.all.each do |forum_checking| %>
                    <% if can? :read, forum_checking %>
                      <li><%= link_to forum_checking.name, forum_checking %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>

              <% if current_user %>
                <hr />
                <li>
                  <% if can? :update, current_user %>
                    <table>
                      <tr class="smallerPadding">
                        <td rowspan="5"><div class="verticalText"><strong>Admin</strong></div></td>
                        <td><%= link_to "Create User", sign_up_path %></td>
                      </tr>
                      <tr>
                        <td><%= link_to "Show Users", users_path %></td>
                      </tr>
                      <tr>
                        <td><%= link_to "Create Group", groups_path %></td>
                      </tr>
                      <tr>
                        <td><%= link_to "Show Groups", groups_path %></td>
                      </tr>
                      <tr>
                        <td><%= link_to "Edit Pages", pages_path %></td>
                      </tr>
                    </table>
                  <% end %>
                  <p><br />Logged in as <%= current_user.name %></p>
                </li>
              <% end %>
            </ul>
            <hr />
            <div id="tweetbox">
              <center><h4>Latest tweets from <a href="https://www.twitter.com/team461wbi">@Team461WBI</a></h4></center>
              <% Twitter.user_timeline("team461wbi", options = { :count => 2 } ).each do |tweet| %>
              	<p class="tweet">
                  <hr />
                	<%= sanitize tweet.text %>
                	<span class="tweet-info">
                  	<br />
                  	@<%= tweet.from_user() %>
                  	<a href="https://twitter.com/<%= tweet.from_user() %>/status/<%= tweet.id() %>"><%= time_ago_in_words(tweet.created_at()) %> ago </a>
                	</span>
              	</p>
            	<% end %>
			      </div>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div>
      </div><!--/row-->


      <footer>
        <center>
          <p>
            &copy; Copyright Westside Boiler Invasion 2013
            <% if !current_user %>
              <br /><%= link_to "Log in", log_in_path, :id => "login" %>
            <% else %>
              <br /><%= link_to "Log out", log_out_path %>
            <% end %>
          </p>
        </center>
      </footer>
	    <div class="alerts-holder">
          <%= bootstrap_flash %>
	    </div>
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
