<!DOCTYPE html>

<html lang="en">
	<%= render partial: "partials/head" %>
	<body>
		<section id="page" data-type="background" data-speed="5">
			<%= render partial: "partials/navbar" %>

			<article>
				<%= content_for :breadcrumb %>
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span9 solidBackground pull-right" id="main-span">
							<%= yield %>
						</div>
						<%= render partial: "partials/sidebar" %>
					</div>

					<br class="visible-phone" />
					<%= render partial: "partials/footer" %>
					<%= render partial: "partials/alerts_holder" %>
				</div>
			</article>
		</section>
	</body>

	<!-- Javascript stuff
		 ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag "application" %>

	<div id="fb-root"></div>

	<script type="text/javascript">(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script type="text/javascript">
		function sizing() {
		var formfilterswidth=$("#formfilters").width();
		$("#msisdn").width((formfilterswidth-46)+"px");
		}
		$(document).ready(sizing);
		$(window).resize(sizing);
	</script>

	<script type="text/javascript">
		(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>

	<script>
		!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)) {
        js=d.createElement(s);
        js.id=id;
        js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
		}
		}(document,"script","twitter-wjs");
	</script>

	<script type="text/javascript">
		konami = new Konami()
		konami.code = function () {
		document.getElementById("konamicodething").style.display = "block";
		}
		konami.load()
	</script>

	<script>
		// somewhat simple to use!
		$(document).ready(function() {
		$('.js-activated').dropdownHover(true);
		});
	</script>

	<!-- GOOGLE ANALYTICS -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39061039-1']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</html>
